!!!
%html
  %head
    / Load jQuery and autolink-js
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "../autolink.js"}
  %body
    %ul
      %li Our first item contains no links.
      %li Our second item contains a link to Google http://google.com.
      %li.new_window Our third item contains a link that opens in a new window http://google.com
      %li Our fourth item contains a link to Google http://google.com and a shortened bitly http://bit.ly/1337
    :javascript
      $(document).ready(function() {
        $('li').each(function() {
          var text = $(this).html();
          $(this).html(text.autoLink());
        });

        var new_window = $('li.new_window');

        $(new_window).html(
          new_window.html().autoLink({ target: "_blank" })
        );
      });
